



{% extends 'user/auth/abase.html' %}
{% load static %}
{% block content %}

  <form method="post">
    {% csrf_token %}
    <div class="card">
      <div class="card-body pb-1">
       
        <div class="form-group basic">
            {{ form.as_p }}
            <button type="submit" style="background: linear-gradient(to right, #CD9F34, #F6DB77);" class="btn btn-block btn-lg">Change Password</button>
        </div>
        <div class="form-group basic">
          <div class="input-wrapper">
             </div>
        </div>
      </div>
    </div>

  </form>

{% endblock %}  